.App {
  text-align: center;
}

.landing-page {
  background-color: green;
  height: 100vh;
}
.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #cddc39;
  border-radius: 50%;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: #e58d51;
  border-radius: 50%;
  z-index: 1;
}

#evo-board:focus {
  outline: none;
}
